// Fuentes
$fuente_principal : 'Raleway', sans-serif;

// Colores
$primario: #005b9f;
$secundario:#003f8c;
$terciario: #009045;
$alternativo: #ce6b00;
$gris: #eeeeee;
$grisOscuro: #373737;
$blanco: #FFFFFF;
